
h2{
    font-weight: bold;
}
.firstSection{
    background-image: url("./assets/backgrounds/h_img.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 210px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    
}

.firstSection p{
    font-size: small;
}
    
.mouse{
    
    object-position: center bottom;
    
}
.about {
    text-align: center;
    line-height: 50px;
}
.serviceSection {
    background-image: url("./assets/backgrounds/s_image.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    line-height: 50px;
}
.whatWeDo{
    display: flex;
    justify-content: space-between;
}
.textParagraph{
    display: none;
    text-align: center;
    font-size: smaller;
}
.textParagraph h3{
    font-size: smaller;
    font-weight: bold;
}

.gap-3 img{
    width:100%;
    height: 100%;
    margin-bottom: 40px;
}
.contact-us{
    background-image: url('./assets/backgrounds/c_image.jpg');
    background-color: transparent;
    color: white;
}
input[type=text],input[type=email]{
    background-color: transparent;
    border: 1px white solid;
}
.form-control::placeholder{
    color: white;
}
#textMessage::placeholder{
    color: white;
}
button{
    text-align: center;
    margin-left: 50%;
    background-color: white;
    padding: 10px;
    width: 100px;
    border: 2px solid white;
    margin-bottom: 2%;

}

.footer{
    margin-top: 2%;
    text-align: center;
}
#copyright{
    padding-top: 2%;
    line-height: 1px;
    padding-bottom: 2%;
    font-size: small;
}
.image-overlay{
    display: none;
}